@import "highlight.js/styles/github.css" (prefers-color-scheme: light);
@import "highlight.js/styles/github-dark.css" (prefers-color-scheme: dark);

/* pre {
  @apply bg-gray-100 dark:bg-gray-900;
  padding: 1em;
  border-radius: 0.3em;
  overflow: auto;
} */

/* code {
  @apply bg-transparent;
}
 */
.hljs {
  @apply bg-transparent;
  color: inherit;
}